body {
  font-size: 20px;
}

.container {
  /*outline: 1px solid red;*/
  min-height: 5em;
  margin: 2em auto;
}

/*.container > * {
  outline: 1px solid blue;
}

.container > * > * {
  outline: 1px solid green;
}

.container > * > * > * {
  outline: 1px solid black;
}*/

.main {
  min-height: 5em;
}

.btn-strt {
  min-height: 1.2em;
  background-color: #010C1E;
  border-radius: 20px 20px 0 0;
  margin: auto;

}

.timer {
  font-size: 6em;
  min-height: 1em;
  margin: auto;
  line-height: 1.9em;
  text-align: center;
  border: 30px solid #010C1E;
  border-radius: 40px;
  background-color: #E3F2FD;
  color: #010C1E;
}

.minute {
  min-height: 2em;
}

.split {
  min-height: 2em;
}

.second {
  min-height: 2em;
}
